if SHIELD_TBKMINI_LEFT

config ZMK_KEYBOARD_NAME
    default "tbkmini Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_TBKMINI_RIGHT

config ZMK_KEYBOARD_NAME
    default "tbkmini Right"

endif

if SHIELD_TBKMINI_LEFT || SHIELD_TBKMINI_RIGHT

config ZMK_SPLIT
    default y

endif
